<div class="hero-setting"></div>

<ul class="my-card-list">
    <li class="card-setting">
        <div class="my-container">
            <div class="my-card">
                <figure class="front">
                    <img class="base-img" src="http://www.jboeijenga.nl/img/back.jpg" alt="back">
                    <div class="caption">
                        <span>로그인 정보</span>
                        <h2>E-MAIL : <span>fromjaelee@naver.com</span></h2>
                        <p>비밀번호 변경</p>
                        <a href="#">View more</a>
                    </div>
                </figure>
            </div>
        </div>
    </li>

    <li class="card-setting">
        <div class="my-container">
            <div class="my-card">
                <figure class="front">
                    <img class="base-img" src="http://www.jboeijenga.nl/img/back.jpg" alt="back">
                    <div class="caption">
                        <h5>사용하기</h5>
                        <h4>아메리카노<span>4000원</span></h4>
                        <h6>✿ 유효 기간 : 영업점별 상이합니다.</h6>
                    </div>
                </figure>
            </div>
        </div>
    </li>
</ul>