<!DOCTYPE html>
<html id="wrapper" lang="kr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Papa-stamp</title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jquery.toast.min.css" type="text/css"/>
  <link rel='stylesheet' href='/css/popup.css' type='text/css'/>

  <!-- Custom Theme Style -->
  <link href="/css/custom.min.css" rel="stylesheet">

  <script type ="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
  <script src='/js/jquery.toast.min.js' type='text/javascript'></script>
  <script src='/js/popup.js' type='text/javascript'></script>
</head>

<body class="login">

<form action="shop/v1/main" method="post" style="display:none" name="sendLoginForm" id="sendLoginForm">
  <input type="hidden" name="url" id="url" value="<%= url %>"/>
  <input type="hidden" name="user_id" id="user_id" value=""/>
  <input type="hidden" name="current_lat" id="current_lat" value=""/>
  <input type="hidden" name="current_lng" id="current_lng" value=""/>
  <input type="hidden" name="web_check" id="web_check" value="true"/>
</form>

<form action="signup" method="get" style="display:none" name="sendSignupForm" id="sendSignupForm">
  <input type="hidden" name="init_lat" id="init_lat" value=""/>
  <input type="hidden" name="init_lng" id="init_lng" value=""/>
  <input type="hidden" name="terms_yn" id="terms_yn" value="N"/>
</form>

<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>파파스탬프 로그인</h1>
          <div>
            <% if(userEmail == "E-Mail") {%>
              <input type="text" class="form-control" placeholder="<%= userEmail %>" required="" id="loginEmail"/>
            <% }else {%>
              <input type="text" class="form-control" placeholder="<%= userEmail %>" value="<%= userEmail %>" required="" id="loginEmail"/>
            <% }%>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required="" id="loginPassword"/>
          </div>
          <div>
            <a class="btn btn-default submit" id="btn_send" style="font-size: 20px;margin-bottom: 50px;">로그인</a>
            <a id="kakao-login-btn"></a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">
              <!--<a href="#findIdPw" class="to_register" id="findIdPw">ID / Password 찾기</a>-->
              <a class="to_register" onclick="focusOpenLayer('layerSignupTermsPopup');">회원 가입</a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>온라인 스탬프 관리<img style="width:80px;margin-left:20px;" src="/images/papastamp_icon.png"/></h1>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>


<div class="layerSignupTermsPopup layer-signup-terms-popup" id="layerSignupTermsPopup">
  <div class="pop_up_body">
    <p class="btn_txt_nor mt20" style="text-align: center;">
      <span class="terms-popup-title">서비스 이용약관 동의 확인</span>
    </p>
    <label class="terms-all-check"><input type='checkbox' name='allCheck' value='terms' id="allCheck" onclick="allCheck()"/>전체 약관 동의하기</label><br>

    <div class="terms-text">
      <div class="setting-list-title">파파스탬프 앱 이용약관</div>
      <hr class="setting-line">
      표준 이용약관안(안)<br><br>
      <div class="clearfix"></div>
      제 1장. 총 칙<br><br>
      제 1 조 (목적) 본 약관은 회원( 파파스탬프 서비스 약관에 동의한 자를 말합니다. 이하 "회원"이라고 합니다.)
      이 파파그룹 (이하 "회사"라고 합니다.)이 제공하는 파파스탬프 서비스(이하 "서비스"라고 합니다)를 이용함에
      있어 회사와 회원의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.<br>
      제 2 조 (이용약관의 효력 및 변경)<br>
      ① 본 약관은 서비스를 신청한 고객 또는 개인위치정보주체가 본 약관에 동의하고 회사가 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.<br>
      ② 회원이 온라인에서 본 약관의 "동의하기" 버튼을 클릭하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한 것으로 봅니다.<br>
      ③ 회사는 위치정보의 보호 및 이용 등에 관한 법률, 콘텐츠산업 진흥법, 전자상거래 등에서의 소비자보호에 관한 법률, 소비자 기본법 약관의 규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.<br>
      ④ 회사가 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 10일 전부터 적용일 이후 상당한 기간 동안 공지만을 하고, 개정 내용이 회원에게 불리한 경우에는 그 적용일자 30일 전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스 홈페이지에 게시하거나 회원에게 전자적 형태(전자우편, SMS 등)로 약관 개정 사실을 발송하여 고지합니다.<br>
      ⑤ 회사가 전항에 따라 회원에게 통지하면서 공지 또는 공지ㆍ고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 이용약관에 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을 경우 회원은 이용계약을 해지할 수 있습니다.<br>
      제 3 조 (관계법령의 적용) 본 약관은 신의성실의 원칙에 따라 공정하게 적용하며, 본 약관에 명시되지 아니한 사항에 대하여는 관계법령 또는 상관례에 따릅니다.<br>
      제 4 조 (서비스의 내용) 회사가 제공하는 서비스는 아래와 같습니다.<br>
      서비스 명	서비스 내용<br>
      파파스탬프 	온라인으로 지점들의 스탬프 및 쿠폰 카드를 관리하는 서비스<br>
      제 5 조 (서비스 이용요금)<br>
      ① 회사가 제공하는 서비스는 기본적으로 유료 또는 무료입니다. 단, 별도의 유료 서비스의 경우 해당 서비스에 명시된 요금을 지불하여야 사용 가능합니다.<br>
      ② 회사는 유료 서비스 이용요금을 회사와 계약한 전자지불업체에서 정한 방법에 의하거나 회사가 정한 청구서에 합산하여 청구할 수 있습니다.<br>
      ③ 유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 회사의 결제 이용약관 등 관계법에 따릅니다.<br>
      ④ 회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.<br>
      ⑤ 무선 서비스 이용 시 발생하는 데이터 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다.<br>
      ⑥ MMS 등으로 게시물을 등록할 경우 발생하는 요금은 이동통신사의 정책에 따릅니다.<br>
      제 6 조 (서비스내용변경 통지 등)<br>
      ① 회사가 서비스 내용을 변경하거나 종료하는 경우 회사는 회원의 등록된 전자우편 주소로 이메일을 통하여 서비스 내용의 변경 사항 또는 종료를 통지할 수 있습니다.<br>
      ② ①항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 회사의 공지사항을 통하여 회원들에게 통지할 수 있습니다.<br>
      제 7 조 (서비스이용의 제한 및 중지)<br>
      ① 회사는 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 회원의 서비스 이용을 제한하거나 중지시킬 수 있습니다.<br>
      •	1. 회원이 회사 서비스의 운영을 고의 또는 중과실로 방해하는 경우<br>
      •	2. 서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우<br>
      •	3. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우<br>
      •	4. 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때<br>
      •	5. 기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우<br>
      ② 회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회원에게 알려야 합니다.<br>
      제 8 조 (개인위치정보의 이용 또는 제공)<br>
      ① 회사는 개인위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 이용약관에 명시한 후 개인위치정보주체의 동의를 얻어야 합니다.<br>
      ② 회원 및 법정대리인의 권리와 그 행사방법은 제소 당시의 이용자의 주소에 의하며, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.<br>
      ③ 회사는 타사업자 또는 이용 고객과의 요금정산 및 민원처리를 위해 위치정보 이용·제공, 사실 확인자료를 자동 기록·보존하며, 해당 자료는 1년간 보관합니다.<br>
      ④ 회사는 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신 단말장치로 매회 회원 에게 제공받는 자, 제공 일시 및 제공목적을 즉시 통보합니다. 단, 아래 각 호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신 단말장치 또는 전자우편주소로 통보합니다.<br>
      •	1. 개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우<br>
      •	2. 회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우<br>
      제 9 조 (개인위치정보주체의 권리)<br>
      ① 회원은 회사에 대하여 언제든지 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다. 이 경우 회사는 수집한 개인위치정보 및 위치정보 이용, 제공사실 확인자료를 파기합니다.<br>
      ② 회원은 회사에 대하여 언제든지 개인위치정보의 수집, 이용 또는 제공의 일시적인 중지를 요구할 수 있으며, 회사는 이를 거절할 수 없고 이를 위한 기술적 수단을 갖추고 있습니다.<br>
      ③ 회원은 회사에 대하여 아래 각 호의 자료에 대한 열람 또는 고지를 요구할 수 있고, 당해 자료에 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. 이 경우 회사는 정당한 사유 없이 회원의 요구를 거절할 수 없습니다.<br>
      •	1. 본인에 대한 위치정보 수집, 이용, 제공사실 확인자료<br>
      •	2. 본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법률 규정에 의하여 제3자에게 제공된 이유 및 내용<br>
      ④ 회원은 제1항 내지 제3항의 권리행사를 위해 회사의 소정의 절차를 통해 요구할 수 있습니다.<br>
      제 10 조 (법정대리인의 권리)<br>
      ① 회사는 14세 미만의 회원에 대해서는 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의를 당해 회원과 당해 회원의 법정대리인으로부터 동의를 받아야 합니다. 이 경우 법정대리인은 제9조에 의한 회원의 권리를 모두 가집니다.<br>
      ② 회사는 14세 미만의 아동의 개인위치정보 또는 위치정보 이용, 제공사실 확인자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나 제3자에게 제공하고자 하는 경우에는 14세 미만의 아동과 그 법정대리인의 동의를 받아야 합니다. 단, 아래의 경우는 제외합니다.<br>
      •	1. 위치정보 및 위치기반서비스 제공에 따른 요금정산을 위하여 위치정보 이용, 제공사실 확인자료가 필요한 경우<br>
      •	2. 통계작성, 학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우<br>
      제 11 조 (8세 이하의 아동 등의 보호의무자의 권리)<br>
      ① 회사는 아래의 경우에 해당하는 자(이하 “8세 이하의 아동”등이라 한다)의 보호의무자가 8세 이하의 아동 등의 생명 또는 신체보호를 위하여 개인위치정보의 이용 또는 제공에 동의하는 경우에는 본인의 동의가 있는 것으로 봅니다.<br>
      •	1. 8세 이하의 아동<br>
      •	2. 금치산자<br>
      •	3. 장애인복지법제2조제2항제2호의 규정에 의한 정신적 장애를 가진 자로서 장애인고용촉진및직업재활법 제2조제2호의 규정에 의한 중증장애인에 해당하는 자(장애인복지법 제29조의 규정에 의하여 장애인등록을 한 자에 한한다)<br>
      ② 8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여 회사에 제출하여야 합니다.<br>
      ③ 보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 개인위치정보주체 권리의 전부를 행사할 수 있습니다.<br>
      제 12조 (위치정보관리책임자의 지정)<br>
      ① 회사는 위치정보를 적절히 관리·보호하고 개인위치정보주체의 불만을 원활히 처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영합니다.<br>
      ② 위치정보관리책임자는 위치기반서비스를 제공하는 부서의 부서장으로서 구체적인 사항은 본 약관의 부칙에 따릅니다.<br>
      제 13 조 (손해배상)<br>
      ① 회사가 위치정보의 보호 및 이용 등에 관한 법률 제15조 내지 제26조의 규정을 위반한 행위로 회원에게 손해가 발생한 경우 회원은 회사에 대하여 손해배상 청구를 할 수 있습니다. 이 경우 회사는 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.<br>
      ② 회원이 본 약관의 규정을 위반하여 회사에 손해가 발생한 경우 회사는 회원에 대하여 손해배상을 청구할 수 있습니다. 이 경우 회원은 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.<br>
      제 14 조 (면책)<br>
      ① 회사는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.<br>
      •	1. 천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우<br>
      •	2. 서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우<br>
      •	3. 회원의 귀책사유로 서비스 이용에 장애가 있는 경우<br>
      •	4. 제1호 내지 제3호를 제외한 기타 회사의 고의ㆍ과실이 없는 사유로 인한 경우<br>
      ② 회사는 서비스 및 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에 대하여는 책임을 부담하지 아니합니다.<br>
      제 15 조 (규정의 준용)<br>
      ① 본 약관은 대한민국법령에 의하여 규정되고 이행됩니다.<br>
      ② 본 약관에 규정되지 않은 사항에 대해서는 관련법령 및 상관습에 의합니다.<br>
      제 16 조 (분쟁의 조정 및 기타)<br>
      ① 회사는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 위치정보의 보호 및 이용 등에 관한 법률 제28조의 규정에 의한 방송통신위원회에 재정을 신청할 수 있습니다.<br>
      ② 회사 또는 고객은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 개인정보보호법 제43조의 규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수 있습니다.<br>
      제 17 조 (회사의 연락처) 회사의 상호 및 주소 등은 다음과 같습니다.<br>
      1. 상     호 : 파파스탬프<br>
      2. 대 표 자 : 김혜영<br>
      3. 주     소 : 경기도 고양시 덕양구 삼송동 세솔로 73<br>
      2. 대표전화 : 010-3729-1715<br><br>
      <div class="clearfix"></div>
      부 칙<br>
      제1조 (시행일) 이 약관은 2018년 06월 01일 부터 시행한다.<br>
      제2조 위치정보관리책임자는 2018년 06월 01일 을 기준으로 다음과 같이 지정합니다.<br>
      1. 소     속 : 파파스탬프<br>
      2. 연 락 처 : 010-3729-1715<br>
    </div>

    <div class="terms">
      <div class="setting-list-title"><input type='checkbox' name='termsCheck' value='terms' id="papastampCheck" onclick="papastampCheck();" />파파스탬프 이용약관 동의</div><br>
    </div>

    <div class="terms-text">
      <div class="setting-list-title">개인정보수집 이용약관</div>
      <hr class="setting-line">
      파파스탬프 개인정보 처리방침<br><br>
      <div class="clearfix"></div>
      파파스탬프는 개인정보 보호법 제30조에 따라 정보주체(고객)의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립,공개합니다.<br><br>
      1. 개인정보의 처리목적 파파스탬프는 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.<br>
      •	1. 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별,인증, 회원자격 유지,관리 등<br>
      2. 개인정보의 처리 및 보유기간<br>
      ① 파파스탬프는 정보주체로부터 개인정보를 수집할 때 동의받은 개인정보 보유,이용기간 또는 법령에 따른 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.<br>
      ② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.<br>
      •	1. 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권,채무관계 잔존시에는 해당 채권,채무관계 정산시까지<br>
      •	2. 전자상거래에서의 계약,청약철회, 대금결제, 재화 등 공급기록 : 5년<br>
      3. 개인정보의 제3자 제공 파파스탬프는 정보주체의 별도 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우 외에는 개인정보를 제3자에게 제공하지 않습니다.<br>
      4. 개인정보처리의 위탁<br>
      ① 파파스탬프는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 외부에 위탁하고 있습니다.<br>
      •	1. 서비스 계약 지점<br>
      ,위탁받는 자 (수탁자) : 각 계약 지점<br>
      ,위탁하는 업무의 내용 : 고객 대상 서비스 제공<br>
      ② 파파스탬프는 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 재위탁 제한, 수탁자에 대한 관리,감독, 책임에 관한 사항을 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.<br>
      5. 정보주체와 법정대리인의 권리,의무 및 행사방법 정보주체는 파파스탬프에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.<br>
      ① 개인정보 열람요구<br>
      ② 개인정보에 오류 등이 있을 경우 정정 요구<br>
      ③ 삭제요구<br>
      ④ 처리정지 요구<br>
      6. 처리하는 개인정보 항목 파파스탬프는 다음의 개인정보 항목을 처리하고 있습니다.<br>
      - 휴대전화번호, 이메일주소 등 결제정보<br>
      7. 개인정보의 파기<br>
      ① 파파스탬프는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.<br>
      ② 파파스탬프는 다음의 방법으로 개인정보를 파기합니다.<br>
      - 전자적 파일 : 파일 삭제 및 디스크 등 저장매체 포맷<br>
      - 수기(手記) 문서 : 분쇄하거나 소각<br>
      8. 개인정보의 안전성 확보조치 파파스탬프는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.<br>
      - 관리적 조치 : 내부관리계획 수립,시행, 직원,종업원 등에 대한 정기적 교육<br>
      - 기술적 조치 : 개인정보처리시스템(또는 개인정보가 저장된 컴퓨터)의 비밀번호 설정 등 접근권한 관리, 백신소프트웨어 등 보안프로그램 설치, 개인정보가 저장된 파일의 암호화<br>
      - 물리적 조치 : 개인정보가 저장,보관된 장소의 시건, 출입통제 등<br>
      9. 개인정보 자동 수집 장치의 설치∙운영 및 거부에 관한 사항<br>
      ① 파파스탬프는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠기(cookie)’를 사용합니다.<br>
      ② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.<br>
      가. 쿠키의 사용목적: 이용자가 방문한 각 서비스와 웹 사이트들에<br>
      대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여<br>
      이용자에게 최적화된 정보 제공을 위해 사용됩니다.<br>
      나. 쿠키의 설치∙운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.<br>
      다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.<br>
      10. 개인정보 보호책임자 파파스탬프는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제를 처리하기 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<br>
      •	1.개인정보 보호책임자 (사업주 또는 대표자)<br>
        성명 : 김혜영, 직책 : 대표<br>
        연락처 : 010-3729-1715, papastamp@naver.com<br>
      11. 개인정보 처리방침 변경 이 개인정보 처리방침은 2018. 06. 01.부터 적용됩니다.<br>
    </div>

    <div class="terms">
      <div class="setting-list-title"><input type='checkbox' name='termsCheck' value='terms' id="privateCheck" onclick="privateCheck();" />개인정보수집 이용약관 동의</div><br>
    </div>

    <div class="terms-btn">
      <input type="button" value="다음으로" id="next-btn" disabled="disabled" />
    </div>
  </div>
</div>

</body>

<script type ="text/javascript">
    $(function() {
        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function (position) {
                currentLat = position.coords.latitude; // 위도
                currentLng = position.coords.longitude; // 경도

                $("#current_lat").val(currentLat);
                $("#current_lng").val(currentLng);
                $("#init_lat").val(currentLat);
                $("#init_lng").val(currentLng);
            });
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            $("#current_lat").val('37.65067382324312');
            $("#current_lng").val('126.88702399396053');
            $("#init_lat").val(currentLat);
            $("#init_lng").val(currentLng);
            console.error("geolocation error : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }


        $('#btn_send').on('click',
            function() {
                $.toast.config.align = 'center';
                $.toast.config.width = 300;
                if ($('#loginEmail').val() == "") {
                    $.toast('<h4>E-Mail</h4>을 입력하세요!!.', { type: 'danger', duration: 3000 });
                    $('#loginEmail').focus();
                    return;
                }

                if ($('#loginPassword').val() == "") {
                    $.toast('<h4>Password</h4>를 입력하세요!!.', { type: 'danger', duration: 3000 });
                    $('#loginPassword').focus();
                    return;
                }

                var loginInfo = '{"login_email":"' + $('#loginEmail').val() + '", "login_password":"' + $('#loginPassword').val() + '"}';
                $.ajax({
                    url: $("#url").val()+'/user/v1/userLogin',
                    type: 'GET',
                    traditional:true,
                    data: JSON.parse(loginInfo),
                    success: function(data) {
                        if(data.loginEmailCheck == '1' && data.loginPwCheck == '1'){
                            $('#user_id').val(data.userId);

                            if($("#current_lat").val().length == 0 && $("#current_lng").val().length == 0) {
                                $('#current_lat').val(data.currentLat);
                                $('#current_lng').val(data.currentLng);
                            }

                            $('#sendLoginForm').submit();
                        }else {
                            if(data.loginEmailCheck == '0') {
                                $.toast('<h4>회원 정보</h4>가 없습니다. 회원 가입하세요!!.', { type: 'danger', duration: 3000 });
                            }else if(data.loginPwCheck == '0') {
                                $.toast('<h4>올바른 패스워드</h4>를 입력하세요!!.', { type: 'danger', duration: 3000 });
                            }
                        }
                    },
                    error: function(request, status, error) {
                        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        console.log('Error occured');
                    }
                });
            });

        $('#next-btn').on('click',
            function() {
                $('#terms_yn').val("Y");
                $('#sendSignupForm').submit();
            });
    });

    function focusOpenLayer(showDivId) {
        var browserHeight = $(document).height();
        var popupHeight = browserHeight * 0.17;

        openLayer(showDivId, popupHeight, 0, browserHeight);
    }

    function papastampCheck() {
        if($("#papastampCheck").is(':checked')) {
            if($("#privateCheck").is(':checked')) {
                $("input[name=allCheck]").prop("checked", true);
                termsAgree(false);
            }
        }else {
            $("input[name=allCheck]").prop("checked", false);
            termsAgree(true);
        }
    }

    function privateCheck() {
        if($("#privateCheck").is(':checked')) {
            if($("#papastampCheck").is(':checked')) {
                $("input[name=allCheck]").prop("checked", true);
                termsAgree(false);
            }
        }else {
            $("input[name=allCheck]").prop("checked", false);
            termsAgree(true);
        }
    }

    function allCheck() {
        if($("#allCheck").is(':checked')) {
            console.log('1');
            $("input[name=termsCheck]").prop("checked", true);
            termsAgree(false);
        }else {
            $("input[name=termsCheck]").prop("checked", false);
            termsAgree(true);
        }
    }

    function termsAgree(check) {
        if ( check == true ) {
            document.getElementById('next-btn').setAttribute("disabled","disabled");
            document.getElementById('next-btn').removeAttribute("style");
        } else {
            document.getElementById('next-btn').removeAttribute("disabled");
            document.getElementById('next-btn').setAttribute("style","color:black");
        }
    }
</script>

</html>