<!DOCTYPE html>
<html id="wrapper" lang="kr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Papa-stamp</title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jquery.toast.min.css" type="text/css"/>
  <link rel='stylesheet' href='/css/popup.css' type='text/css'/>

  <!-- Custom Theme Style -->
  <link href="/css/custom.min.css" rel="stylesheet">

  <script type ="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
  <script src='/js/jquery.toast.min.js' type='text/javascript'></script>
  <script src='/js/popup.js' type='text/javascript'></script>
</head>

<body class="login">

<form action="shop/v1/main" method="post" style="display:none" name="sendLoginForm" id="sendLoginForm">
  <input type="hidden" name="url" id="url" value="<%= url %>"/>
  <input type="hidden" name="user_id" id="user_id" value=""/>
  <input type="hidden" name="current_lat" id="current_lat" value=""/>
  <input type="hidden" name="current_lng" id="current_lng" value=""/>
  <input type="hidden" name="web_check" id="web_check" value="true"/>
</form>

<form action="signup" method="get" style="display:none" name="sendSignupForm" id="sendSignupForm">
  <input type="hidden" name="init_lat" id="init_lat" value=""/>
  <input type="hidden" name="init_lng" id="init_lng" value=""/>
</form>

<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>파파스탬프 로그인</h1>
          <div>
            <% if(userEmail == "E-Mail") {%>
              <input type="text" class="form-control" placeholder="<%= userEmail %>" required="" id="loginEmail"/>
            <% }else {%>
              <input type="text" class="form-control" placeholder="<%= userEmail %>" value="<%= userEmail %>" required="" id="loginEmail"/>
            <% }%>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required="" id="loginPassword"/>
          </div>
          <div>
            <a class="btn btn-default submit" id="btn_send" style="font-size: 20px;margin-bottom: 50px;">로그인</a>
            <a id="kakao-login-btn"></a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">
              <!--<a href="#findIdPw" class="to_register" id="findIdPw">ID / Password 찾기</a>-->
              <a class="to_register" onclick="focusOpenLayer('layerSignupTermsPopup');">회원 가입</a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>온라인 스탬프 관리<img style="width:80px;margin-left:20px;" src="/images/papastamp_icon.png"/></h1>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>


<div class="layerSignupTermsPopup layer-signup-terms-popup" id="layerSignupTermsPopup">
  <div class="pop_up_body">
    <p class="btn_txt_nor mt20" style="text-align: center;">
      <span class="terms-popup-title">서비스 이용약관 확인</span>
    </p>
    <label class="terms-all-check"><input type='checkbox' name='allCheck' value='terms' id="allCheck" onclick="allCheck()"/>전체 약관 동의하기</label><br>

    <div class="terms-text">
      약관 : 본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고
    </div>

    <div class="terms">
      <div class="setting-list-title"><input type='checkbox' name='termsCheck' value='terms' id="papastampCheck" onclick="papastampCheck();" />파파스탬프 이용약관 동의</div><br>
    </div>

    <div class="terms-text">
      약관 : 본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고본사이트에서 동의하십니까염그리고
    </div>

    <div class="terms">
      <div class="setting-list-title"><input type='checkbox' name='termsCheck' value='terms' id="privateCheck" onclick="privateCheck();" />개인정보수집 이용약관 동의</div><br>
    </div>

    <div class="terms-btn">
      <input type="button" value="다음으로" id="next-btn" disabled="disabled" />
    </div>
  </div>
</div>

</body>

<script type ="text/javascript">
    $(function() {
        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function (position) {
                currentLat = position.coords.latitude; // 위도
                currentLng = position.coords.longitude; // 경도

                $("#current_lat").val(currentLat);
                $("#current_lng").val(currentLng);
                $("#init_lat").val(currentLat);
                $("#init_lng").val(currentLng);
            });
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            $("#current_lat").val('37.65067382324312');
            $("#current_lng").val('126.88702399396053');
            $("#init_lat").val(currentLat);
            $("#init_lng").val(currentLng);
            console.error("geolocation error : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }


        $('#btn_send').on('click',
            function() {
                $.toast.config.align = 'center';
                $.toast.config.width = 300;
                if ($('#loginEmail').val() == "") {
                    $.toast('<h4>E-Mail</h4>을 입력하세요!!.', { type: 'danger', duration: 3000 });
                    $('#loginEmail').focus();
                    return;
                }

                if ($('#loginPassword').val() == "") {
                    $.toast('<h4>Password</h4>를 입력하세요!!.', { type: 'danger', duration: 3000 });
                    $('#loginPassword').focus();
                    return;
                }

                var loginInfo = '{"login_email":"' + $('#loginEmail').val() + '", "login_password":"' + $('#loginPassword').val() + '"}';
                $.ajax({
                    url: $("#url").val()+'/user/v1/userCheck',
                    type: 'GET',
                    traditional:true,
                    data: JSON.parse(loginInfo),
                    success: function(data) {
                        if(data.loginEmailCheck == '1' && data.loginPwCheck == '1'){
                            $('#user_id').val(data.userId);

                            if($("#current_lat").val().length == 0 && $("#current_lng").val().length == 0) {
                                $('#current_lat').val(data.currentLat);
                                $('#current_lng').val(data.currentLng);
                            }

                            $('#sendLoginForm').submit();
                        }else {
                            if(data.loginEmailCheck == '0') {
                                $.toast('<h4>회원 정보</h4>가 없습니다. 회원 가입하세요!!.', { type: 'danger', duration: 3000 });
                            }else if(data.loginPwCheck == '0') {
                                $.toast('<h4>올바른 패스워드</h4>를 입력하세요!!.', { type: 'danger', duration: 3000 });
                            }
                        }
                    },
                    error: function(request, status, error) {
                        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        console.log('Error occured');
                    }
                });
            });

        $('#next-btn').on('click',
            function() {
                $('#sendSignupForm').submit();
            });
    });

    function focusOpenLayer(showDivId) {
        var browserHeight = $(document).height();
        var popupHeight = browserHeight * 0.17;

        openLayer(showDivId, popupHeight, 0, browserHeight);
    }

    function papastampCheck() {
        if($("#papastampCheck").is(':checked')) {
            if($("#privateCheck").is(':checked')) {
                $("input[name=allCheck]").prop("checked", true);
                termsAgree(false);
            }
        }else {
            $("input[name=allCheck]").prop("checked", false);
            termsAgree(true);
        }
    }

    function privateCheck() {
        if($("#privateCheck").is(':checked')) {
            if($("#papastampCheck").is(':checked')) {
                $("input[name=allCheck]").prop("checked", true);
                termsAgree(false);
            }
        }else {
            $("input[name=allCheck]").prop("checked", false);
            termsAgree(true);
        }
    }

    function allCheck() {
        if($("#allCheck").is(':checked')) {
            console.log('1');
            $("input[name=termsCheck]").prop("checked", true);
            termsAgree(false);
        }else {
            $("input[name=termsCheck]").prop("checked", false);
            termsAgree(true);
        }
    }

    function termsBtn(check) {

    }

    function termsAgree(check) {
        if ( check == true ) {
            document.getElementById('next-btn').setAttribute("disabled","disabled");
            document.getElementById('next-btn').removeAttribute("style");
        } else {
            document.getElementById('next-btn').removeAttribute("disabled");
            document.getElementById('next-btn').setAttribute("style","color:black");
        }
    }
</script>

</html>