/* Shop */
.cards {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.container, figure {
    width: 320px;
    height: 200px;
}

.container {
    margin-left:auto;
    margin-right:auto;
}

figure{
    background: #2e5d5a;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    margin-top: 10px;
}

figure.front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}

figure.back,
.card.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-img {
    width: 340px;
    position: relative;
    height: 222px;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.card {
    transition: 0.4s all;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

figure .papa-base-img{
    width: 100%;
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.7;
}

.shadow:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 5vh;
}

.shadow:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.shadow-rel:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 5vh;
}

.shadow-rel:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1);
}

/* Stamp */
.my-card-list {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.my-card-shop {
    width: 340px;
    background: #ffffff;
    position: relative;
    height: 222px;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 20px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

.my-container{
    margin-left:auto;
    margin-right:auto;
}

.my-container, figure {
    width: 320px;
    height: 200px;
}

.my-card {
    transition: 0.4s all;
    transform-style: preserve-3d;
}

.my-card:last-child {
    margin-bottom: 0;
}

.my-card-img {
    position: relative;
    height: 450px;
    width: 90%;
    float: right;
}

figure .base-img{
    width: 100%;
    position: relative;
    display: block;
    min-height: 100%;
}

.card-stamp {
    width: 95%;
    background: #ffffff;
    border-radius: 3px;
    height: 222px;
    border-radius: 10px;
    box-shadow: 0 20px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

/* Coupon */
.my-card-coupon {
    width: 340px;
    background: #407ded;
    position: relative;
    height: 222px;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 20px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

.my-card-list figure .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.my-card-list figure .caption h5 {
    width: 30%;
    font-size: 0.8em;
    border: 2px solid #74DF00;
    padding: 6px;
    margin-top: 5px;
}

.my-card-list figure .caption h4 {
    float: right;
    width: 125px;
    font-size: 1.2em;
    color: #e8ff00;
    padding: 10px 0 5px 10px;
    margin-top: -40px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.7em;
    text-align: right;
}

.my-card-list figure .caption h3{
    float: left;
    font-size: 1em;
    margin-top: 0.5em;
}

.my-card-list figure .caption h3 span{
    font-size: 0.9em;
    padding: 5px;
    color: #e94739;
}

.my-card-list figure .caption h4 span{
    float: right;
    font-size: 0.9em;
    color: #999;
    letter-spacing: 1px;
}

.my-card-list figure .caption span{
    font-weight: bold;
    font-size: 1em;
    color: #272833;
}

.my-card-list figure .caption .title-setting {
    font-size: 1.5em;
    color: #999;
    margin-left: -50px;
}

.coupon-name {
    width: 100%;
    float: left;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    color: darkorange;
    text-align: right;
}

.delete-coupon {
    background: #ffffff;
    color: #FF0000 !important;
    margin-right: 550px;
    border: 5px solid;
    padding: 15px;
}

/* Event */
.card-event {
    width: 340px;
    background: #848484;
    position: relative;
    height: 222px;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 20px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

/* Setting */
.card-setting {
    width: 340px;
    background: #000000;
    position: relative;
    height: 222px;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 20px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

figure .caption h6{
    width: 100%;
    margin-left: 10px;
    text-align: right;
    font-size: 11px;
    color: #fff;
    padding: 10px;
    margin-top: 9em;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Yantramanav', sans-serif;
}

.front h2{
    word-spacing: 0.2em;
    font-weight: 300;
    font-size: 1em;
    text-align: left;
    margin-left: 40px;
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    transition: transform 0.35s, color 0.35s;
}

.front h2 span {
    font-weight: bold;
    font-size: 1em;
    color: #272833;
}

.front:hover h2 span {
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
    margin-left: 10px;
}

.front h2:after{
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 100px;
    width: 76%;
    height: 2px;
    background: #fff;
    content: '';
    transition: transform 0.35s;
    transform: translate3d(-130%,0,0);
}

.front:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.front:hover h2:after {
    transform: translate3d(0,0,0);
}

.front p {
    letter-spacing: 1px;
    font-size: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 0.3em;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,10px,0);
    transition: opacity 0.35s, transform 0.35s;
}

.back dl{
    font-family:'Lato', Arial, sans-serif;
    font-weight:300;
    bottom:40px;
    left:40px;
    position: absolute;
    opacity: 0;
    transition: opacity .35s, transform .35s;
    transition-delay: .85s;
    transform: translate3d(-40px,0,0);
}

.card.flipped .back dl {
    opacity: 1;
    transform: translate3d(0,0,0);
}

dl dt{
    float: left;
    width: 60px;
    overflow: hidden;
    clear: left;
    text-align: right;
    font-weight:700;
}

dl dd{
    margin-left: 80px;
    text-align:left;
}

dl dd:before,
dl dd:after{
    display: table;
    content: " ";
}

dl dd:after{
    clear: both;
}

.front:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}

figure a{
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure .icon-wrapper {
    margin-bottom:6px;
}

@-webkit-keyframes pulse{
    0%{
        opacity: 0;
    }
    10%{
        opacity:.50;
        transform-origin: 50% 50%;
        transform: rotate(-2deg) scale(5);
        transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
        opacity:1;
        transform: rotate(-15deg) scale(1);
    }
}


.offers-wthreerow2 {
    margin: 3em 0 1em;
}

.w3ls-add-grids {
    width: 46.5%;
}

.w3ls-add-grids.w3ls-add-grids-right {
    margin-top: 1em;
}

.use-coupon {
    width: 90%;
    font-size: 1.8em;
    border: 12px solid #e94739;
    margin-bottom: 0.5em;
}

.used-deemed {
    opacity: 0.5;
    z-index: 10;
}

.delete-coupon {
    background: #ffffff;
    color: #FF0000 !important;
    margin-right: 550px;
    border: 5px solid;
    padding: 15px;
}

.custom-icon {
    font-size: 20px;
    background: #666;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    color: #fff;
    width: 35px;
    height: 35px;
    padding: 4px;
    text-align: center;
    transition: .5s;
    float: left;
    margin: 3px 0 0 50px;
}

.confirm-coupon-number {
    width: 90%;
    font-size: 1.8em;
    border: 12px solid darkorange;
    margin: 0.5em;
}

.confirm-shop-name {
    float: left;
    font-size: 1em;
    color: #fff;
    margin-left: 25px;
}

.confirm-sub-name {
    font-size: 0.9em;
    padding: 5px;
    color: #e94739;
}

.confirm-coupon-name {
    font-size: 1em;
    color: #e8ff00;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.7em;
    margin-top: -4px;
    margin-bottom: 36px;
}