
/**{
  box-sizing:border-box;
}
html, body{
  width:100%;
  height:100%;
}
body{
  background: whitesmoke;
  font-weight: 400;
  font-size: 2.5em;
  font-family: 'Raleway', Arial, sans-serif;
}*/

.my-container{
    margin-left: 6px;
}

.container, figure{
    width: 900px;
    height: 540px;
}

.container{
    position:absolute;
    perspective:1000px;
    margin-top:-200px;
    top:36%;
}

figure{
    background: #2e5d5a;
    color: #fff;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

figure.front{
    transform: rotateY(0deg);
    z-index: 2;
}

figure.back,
.card.flipped{
    transform: rotateY(180deg);
}

figure .base-img{
    width: 100%;
    position: relative;
    display: block;
    min-height: 100%;
}

figure .papa-base-img{
    width: 100%;
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.7;
}

figure .w3ls-add-grids{

}

figure .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
}

figure .caption h5 {
    float: left;
    font-size: 1.8em;
    border: 3px solid #74DF00;
    padding: 10px;
    margin-top: 1em;
    margin-left: -11.2em;
}

figure .caption h4 {
    float: right;
    width: 230px;
    font-size: 2.5em;
    color: #e8ff00;
    padding: 10px;
    margin-top: 0.1em;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.7em;
}

figure .caption h3{
    float: left;
    font-size: 2.5em;
    padding: 10px;
    margin-top: 5em;
}

figure .caption h3 span{
    font-size: 0.9em;
    padding: 5px;
    color: #e94739;
}

figure .caption h4 span{
    float: right;
    font-size: 0.9em;
    color: #999;
}

figure .caption span{
    font-size: 4em;
    color: #999;
}

figure .caption h6{
    float: right;
    font-size: 1.5em;
    color: #fff;
    padding: 10px;
    margin-top: 1em;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20em;
    font-family: 'Yantramanav', sans-serif;
}

.front h2{
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 2.3em;
    text-align: left;
    margin-left: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #272833;
    transition: transform 0.35s, color 0.35s;
    transform: translate3d(0,-50%,0);
}

.front h2 span {
     font-weight: bold;
     font-size: 1em;
     color: #272833;
}

.front:hover h2 span {
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
    margin-left: 10px;
}

.front h2:after{
    position: absolute;
    bottom: -10px;
    left: 5px;
    right: 100px;
    height: 2px;
    background: #fff;
    content: '';
    transition: transform 0.35s;
    transform: translate3d(-130%,0,0);
}

.front:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.front:hover h2:after {
    transform: translate3d(0,0,0);
}

.front p {
    letter-spacing: 1px;
    font-size: 168.5%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,10px,0);
    transition: opacity 0.35s, transform 0.35s;
}

.back dl{
    font-family:'Lato', Arial, sans-serif;
    font-weight:300;
    bottom:40px;
    left:40px;
    position: absolute;
    opacity: 0;
    transition: opacity .35s, transform .35s;
    transition-delay: .85s;
    transform: translate3d(-40px,0,0);
}

.card.flipped .back dl {
    opacity: 1;
    transform: translate3d(0,0,0);
}

dl dt{
    float: left;
    width: 60px;
    overflow: hidden;
    clear: left;
    text-align: right;
    font-weight:700;
}

dl dd{
    margin-left: 80px;
    text-align:left;
}

dl dd:before,
dl dd:after{
    display: table;
    content: " ";
}

dl dd:after{
    clear: both;
}

.front:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}

figure a{
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 450px) {
    .container{
        left: 50%;
        margin-left:-458px;
    }
}







/* stamp image */
.stamp-img{
    top:-350px;
    width:80px;
    border-radius:5px;
    position:relative;
    background-color:#ef8080;
    margin-left:30px;
}









/* stamp action */
.stamp-action{
    z-index: 100;
    width:300px;
    top:120px;
    right:300px;
    border-radius:5px;
    position:absolute;
    background-color:#ef8080;
    animation-name: pulse;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode:forwards;
}

@-webkit-keyframes pulse{
    0%{
        opacity: 0;
    }
    10%{
        opacity:.50;
        transform-origin: 50% 50%;
        transform: rotate(-2deg) scale(5);
        transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
        opacity:1;
        transform: rotate(-15deg) scale(1);
    }
}

























.shadow:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 5vh;
}

.shadow:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.shadow-rel:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 5vh;
}

.shadow-rel:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    z-index: -2;
    box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1);
}

.card {
    margin-top: 6px;
    transition: 0.4s all;
    transform-style: preserve-3d;
}

.cards {
    margin-top: 110px;
}

.card-img {
    position: relative;
    height: 560px;
    width: 98%;
    float: right;
}

.card-img.open {
    height: 200px;
    background: #ffffff;
}

@media only screen and (min-width: 600px) {
    .card-img {
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }
}

























.my-card-list {
    margin: 110px auto;
    width: 100%;
    perspective: 1200px;
}

.my-card:last-child {
    margin-bottom: 0;
}

.my-card-shop {
    width: 95%;
    background: #000000;
    border-radius: 3px;
    height: 552px;
    margin-left: 25px;
    margin-bottom: 5vh;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

.my-card {
    margin-top: 6px;
    transition: 0.4s all;
    transform-style: preserve-3d;
}

.my-card-img {
    position: relative;
    height: 450px;
    width: 90%;
    float: right;
}

.my-card-coupon {
    width: 95%;
    background: #ffffff;
    border-radius: 3px;
    height: 552px;
    margin-left: 25px;
    margin-bottom: 5vh;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

.card-event {
    width: 95%;
    background: #407ded;
    border-radius: 3px;
    height: 552px;
    margin-left: 25px;
    margin-bottom: 5vh;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

.card-setting {
    width: 95%;
    background: #848484;
    border-radius: 3px;
    height: 552px;
    margin-left: 25px;
    margin-bottom: 5vh;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
}

.hero-shop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30vh;
    background: #b651d8;
    border-bottom: 1rem solid rgba(0,0,0,0.5);
    z-index: -10;
}

.hero-stamp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30vh;
    background: #71c55e;
    border-bottom: 1rem solid rgba(0,0,0,0.5);
    z-index: -10;
}

.hero-coupon {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30vh;
    background: #fab904;
    border-bottom: 1rem solid rgba(0,0,0,0.5);
    z-index: -10;
}

.hero-map {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30vh;
    background: #e94739;
    border-bottom: 1rem solid rgba(0,0,0,0.5);
    z-index: -10;
}

.hero-setting {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30vh;
    background: #407ded;
    border-bottom: 1rem solid rgba(0,0,0,0.5);
    z-index: -10;
}















.offers-wthreerow2 {
    margin: 3em 0 1em;
}

.w3ls-add-grids {
    width: 46.5%;
}

.w3ls-add-grids.w3ls-add-grids-right {
    margin-top: 1em;
}

