.layerPopup {
    position: absolute;
    top: 20%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    background: #FFF;
    height: 465px;
    width: 95%;
    border: 4px solid #eee;
    display: none;
    z-index: 100;
}

.layerPopup .pop_up_body {
    padding: 10.5px 0 10.5px;
}

.layerPopup .pop_up_body .btn_txt_nor {
    background-color: #fab904;
    width: 89%;
    position: fixed;
    margin-left: -4px;
    margin-top: -77px;
}

.layerPopup .pop_up_body .btn_txt_stamp_nor {
    background-color: darkseagreen;
    width: 95%;
    position: fixed;
    margin-left: -4px;
    margin-top: -77px;
}

.layerPopup .delete-card {
    margin-left: 25px;
    margin-right: 500px;
    border: 3px solid;
    padding: 18px;
}

.layerPopup .pop_up_body .stamp-ti {
    width: 60%;
    opacity: 0.87;
    background-color: #777;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    margin: 25px 70px;
    border-radius: 10px;
    padding: 12px 7px;
    font-weight: bold;
}

.layerPopup .pop_up_body .change-ti {
    opacity: 0.87;
    background-color: #777;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height:32px;
    margin: 8px 65px 15px;
    border-radius: 10px;
    padding: 2px;
    font-weight: bold;
    letter-spacing: 6px;
}

.layerPopup .pop_up_body .change-ti-custom {
    width: 20%;
    opacity: 0.87;
    background-color: #E6E6E6;
    font-size: 12px;
    text-align: center;
    line-height: 29px;
    margin: 8px 8px;
    border-radius: 10px;
    padding: 2px 7px;
    float: right;
}

.layerPopup .setting-popup-title {
    font-size: 25px;
    text-align: center;
    color: rgba(0,0,0,0.54);
    line-height: 29px;
    display: inline-block;
    margin: -2px 0 0 0;
    padding: 18px;
    font-weight: bold;
}

.layerPopup .delete-card {
    float: left;
    font-size: 18px;
    color: rgba(0,0,0,0.54);
    line-height:20px;
    display:inline-block;
    margin:14px 0 15px 18px;
    border: 2px solid;
    padding: 5px;
}

.layerPopup .close-card {
    float: right;
    font-size: 18px;
    color: rgba(0,0,0,0.54);
    line-height:20px;
    display:inline-block;
    margin:14px 18px 15px 0;
    border: 2px solid;
    padding: 5px;
}

.layerSettingPopup {
    position: absolute;
    top: 20%;
    margin-top: 10px;
    margin-left: 22px;
    margin-right: auto;
    background: #FFF;
    width: 88%;
    border: 4px solid #eee;
    display: none;
    z-index: 100;
}

.layerSettingPopup .pop_up_body {
    padding: 10.5px 0 10.5px;
}

.layerSettingPopup .pop_up_body .btn_txt_nor {
    background-color: #fab904;
    width: 88%;
    position: fixed;
    margin-left: -4px;
    margin-top: -77px;
}

.layerSettingPopup .delete-card {
    margin-left: 25px;
    margin-right: 500px;
    border: 3px solid;
    padding: 18px;
}

.layerSettingPopup .pop_up_body .change-ti {
    opacity: 0.87;
    background-color: #777;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height:32px;
    margin: 7px 65px 7px;
    border-radius: 10px;
    padding: 2px;
    font-weight: bold;
    letter-spacing: 6px;
}

.layerSettingPopup .pop_up_body .change-ti-custom {
    width: 21%;
    opacity: 0.87;
    background-color: #E6E6E6;
    font-size: 12px;
    text-align: center;
    line-height: 29px;
    margin: 5px 7px;
    border-radius: 10px;
    padding: 2px 7px;
    float: right;
}

.layerSettingPopup .setting-popup-title {
    font-size: 25px;
    text-align: center;
    color: rgba(0,0,0,0.54);
    line-height: 29px;
    display: inline-block;
    margin: -2px 0 0 0;
    padding: 18px;
    font-weight: bold;
}

.layerSettingPopup .close-card {
    float: right;
    font-size: 18px;
    color: rgba(0,0,0,0.54);
    line-height:20px;
    display:inline-block;
    margin:14px 18px 15px 0;
    border: 2px solid;
    padding: 5px;
}

#deemed {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    filter:Alpha(opacity=50);
    opacity:0.5;
    background:#000;
    z-index:25;
}

.layer-stamp-popup {
    height: 350px;
    position: fixed;
}

/* Setting */
.layer-login-popup {
    position: fixed;
}

.layer-userInfo-popup {
    position: fixed;
}

.layer-notice-popup {
    overflow:auto;
    position: fixed;
}

.layer-tutorial-popup {
    height: 88%;
    position: fixed;
}

.layer-terms-popup {
    height: 466px;
    overflow:auto;
    position: fixed;
}

.layer-faq-popup {
    overflow: auto;
    position: fixed;
}

.layer-developer-popup {
    position: fixed;
}

.user-info-title {
    font-size:15px;
    color: #999;
    width: 95px;
    margin: 0 7px 0 9px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.setting-list-title {
    font-size:15px;
    color: #999;
    margin: 0 7px 0 9px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.setting-line {
    width: 100%;
    margin: 5px auto;
}

.triangle {
    float: right;
    border-style:solid;
    border-width:13px;
}

.pre-click {
    margin-top: 10px;
    margin-right: 16px;
    border-color: #B5B5B5 transparent transparent transparent;
}

.after-click {
    margin-right: 16px;
    border-color: transparent transparent #B5B5B5 transparent;
}

/* Setting UserInfo */
.password-label {
    margin-top: 30px;
    font-size: 40px;
    margin-left: 60px;
}

.text-input {
    border: 2px solid #bfbfbf;
    width: 60%;
    height: 40px;
    font-size: 15px;
    margin: 1px 5px 5px 1px;
    color: black;
    padding-left: 7px;
}

.text-input-custom {
    border: 2px solid #bfbfbf;
    width: 34%;
    height: 40px;
    font-size: 15px;
    margin: 1px 5px 5px 1px;
    color: black;
    padding-left: 4px;
}

/* Setting Notice */
.notice_date {
    font-size:14px;
    margin: 5px 10px 15px 18px;
    padding: 0px 0px 5px 0px;
    cursor: pointer;
}

/* Setting Tutorial */
#slider {
    position: relative;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 100%;
    overflow-x: hidden;
}

#slider li {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.tutorial-back {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

#slider img {
    width: 100%;
    height: 100%;
}

#layerTutorialPopup .fa {
    font-size: 40px;
    color: #B5B5B5;
}

.btn {
    margin: 200px 3px 0 3px;
    border: 0;
    background: #ffffff;
    display: none;
    z-index: 500;
}

#prev_btn {
    width: 45px;
    border-radius: 100%;
    border: 6px solid #fff;
    position: absolute;
    top: 0;
    left: -25px;
    opacity: 0.8;
}

#next_btn {
    width: 45px;
    border-radius: 100%;
    border: 6px solid #fff;
    position: absolute;
    top: 0;
    right: -25px;
    opacity: 0.8;
}

/* Setting Terms */
.terms_text {
    font-size:12px;
    margin: 15px 10px 15px 10px;
}

/* Setting FAQ */
.faq_answer {
    padding: 10px 5px 10px 5px;
}

.faq_answer_container {
    font-size:15px;
    margin: 3px 10px;
    height: 0px;
    overflow: hidden;
    padding: 0 15px 0 15px;
    background-color: whitesmoke;
}

.faq_question_mark {
    font-size: 18px;
    font-weight: 900;
    color: #bfbfbf;
    margin-left: 15px;
}

#layerFaqPopup .setting-list-title {
    margin-bottom: 15px;
}

/* Setting Development */
#layerDevelopmentPopup .development-info {
    text-align: center;
    margin-top: 20px;
}

#layerDevelopmentPopup .development-icon {
    width: 40%;
    margin-top: 5px;
}

#layerDevelopmentPopup .development-title {
    font-size: 30px;
    font-weight: bold;
}

#layerDevelopmentPopup .development-version {
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 2px;
}

#layerDevelopmentPopup .development-update {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}








