.layerPopup {
    position: absolute;
    top: 20%;
    margin-top: -100px;
    margin-left: 1px;
    background: #FFF;
    height: 765px;
    width: 100%;
    border:4px solid #eee;
    display:none;
    z-index:100;
}

.layerPopup .pop_up_body {
    padding:10.5px 1.7% 10.5px;
}

.layerPopup .pop_up_body .btn_txt_nor {
    margin-top:10px;
    margin-bottom: 20px;
    background-color: darkseagreen;
    height: 100px;
}

.layerPopup .delete-card {
    margin-left: 25px;
    margin-right: 500px;
    border: 3px solid;
    padding: 18px;
}

.layerPopup .pop_up_body .stamp-ti {
    width: 50%;
    opacity: 0.87;
    background-color: #777;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height:29px;
    margin: 635px 230px;
    border-radius: 10px;
    padding: 25px 7px;
    font-weight: bold;
}

.layerPopup .pop_up_body .change-ti {
    width: 50%;
    opacity: 0.87;
    background-color: #777;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height:29px;
    margin: 85px 230px;
    border-radius: 10px;
    padding: 25px 7px;
    font-weight: bold;
}

.layer-stamp-popup {
    height: 875px;
}

.layer-password-popup {
    height: 685px;
    margin-top: -90px;
}

.layer-developer-popup {
    margin-top: 50px;
}

.layer-faq-popup {
    margin-top: 50px;
}

.layerPopup .setting-popup-title {
    font-size: 60px;
    text-align: center;
    color: rgba(0,0,0,0.54);
    line-height: 29px;
    display: inline-block;
    margin:15px 0 15px 0;
    padding: 18px;
    font-weight: bold;
}

.layerPopup .delete-card {
    float: left;
    font-size: 46px;
    color: rgba(0,0,0,0.54);
    line-height:29px;
    display:inline-block;
    margin:15px 0 15px 10px;
    border: 3px solid;
    padding: 18px;
}

.layerPopup .close-card {
    float: right;
    font-size: 46px;
    color: rgba(0,0,0,0.54);
    line-height:29px;
    display:inline-block;
    margin:15px 10px 15px 0;
    border: 3px solid;
    padding: 18px;
}

#deemed {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    filter:Alpha(opacity=50);
    opacity:0.5;
    background:#000;
    z-index:25;
}





.faq_question {
    font-size:40px;
    margin: 10px 10px 15px 20px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.faq_answer_container {
    font-size:30px;
    margin: 10px 30px 25px 30px;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    background-color: whitesmoke;
}

.setting-line {
    width: 100%;
    margin: 20px auto;
}

.faq_question_mark {
    font-size: 50px;
    font-weight: 900;
    color: #bfbfbf;
    margin-left: 30px;
}

.triangle {
    float: right;
    display:inline-block;
    width:0;
    height:0;
    border-style:solid;
    border-width:30px;
}

.pre-click {
    margin-top: 25px;
    margin-right: 25px;
    border-color: #B5B5B5 transparent transparent transparent;
}

.after-click {
    margin-right:25px;
    border-color:transparent transparent #B5B5B5 transparent;
}

