/* stamp image */
.papa_stamp_icon{
    top: -140px;
    width: 35px;
    border-radius:5px;
    position: relative;
    margin-left: 10px;
    margin-bottom: 15px;
    float:left;
}

.stamp-date{
    position: relative;
    font-size: 25px;
    vertical-align: bottom;
    padding: 3px 5px 3px 5px;
    color: darkblue;
}

/* stamp action */
.stamp-action{
    z-index: 100;
    width: 150px;
    top: 32px;
    right: 92px;
    border-radius:5px;
    position:absolute;
    background-color:#ef8080;
    animation-name: pulse;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode:forwards;
}

/* SB-SHOP-00002 stamp image */
.stamp-img-SB-SHOP-00002{
    width: 50px;
    margin-left: 10px;
    border-radius: 20px;
}

.img-repeat-SB-SHOP-00002 {
    margin-left: 0px;
}

.stamp-icon-SB-SHOP-00002 {
    top: -188px;
    width: 59.7px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 13px;
    float: left;
}

.stamp-popup-icon-SB-SHOP-00002 {
    top: -161px;
    width: 54px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 0px;
    float: left;
}

.stamp-date-SB-SHOP-00002 {
    display: inline-block;
    width: 60px;
    position: relative;
    font-size: 10px;
    vertical-align: bottom;
    padding: 0 5px 8px 5px;
    color: darkmagenta;
}
/* SB-SHOP-00002 stamp image */

/* SB-SHOP-00001 stamp image */
.stamp-img-SB-SHOP-00001{
    width: 36px;
    margin-left: 10px;
    border-radius: 20px;
}

.img-repeat-SB-SHOP-00001 {
    margin-left: 95px;
}

.stamp-icon-SB-SHOP-00001 {
    top: -195px;
    width: 40px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 20px;
    float: left;
}

.stamp-popup-icon-SB-SHOP-00001 {
    top: -195px;
    width: 40px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 0px;
    float: left;
}

.stamp-date-SB-SHOP-00001 {
    display: inline-block;
    width: 60px;
    position: relative;
    font-size: 9px;
    vertical-align: bottom;
    padding: 0 5px 8px 5px;
    color: darkblue;
}
/* SB-SHOP-00001 stamp image */

/* SB-SHOP-00003 stamp image */
.stamp-img-SB-SHOP-00003{
    width: 36px;
    margin-left: 10px;
    border-radius: 20px;
}

.img-repeat-SB-SHOP-00003 {
    margin-left: 106px;
}

.stamp-icon-SB-SHOP-00003 {
    top: -172px;
    width: 44.3px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 21px;
    float: left;
}

.stamp-popup-icon-SB-SHOP-00003 {
    top: -173px;
    width: 44.3px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 0px;
    float: left;
}

.stamp-date-SB-SHOP-00003 {
    display: inline-block;
    width: 60px;
    position: relative;
    font-size: 10px;
    vertical-align: bottom;
    padding: 0 5px 8px 5px;
    color: darkgreen;
}
/* SB-SHOP-00003 stamp image */

/* SB-SHOP-00004 stamp image */
.stamp-img-SB-SHOP-00004{
    width: 36px;
    margin-left: 10px;
    border-radius: 20px;
}

.img-repeat-SB-SHOP-00004 {
    margin-left: 8px;
}

.stamp-icon-SB-SHOP-00004 {
    top: -180px;
    width: 47px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 20px;
    float: left;
}

.stamp-popup-icon-SB-SHOP-00004 {
    top: -187px;
    width: 47px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 0px;
    float: left;
}

.stamp-date-SB-SHOP-00004 {
    display: inline-block;
    width: 60px;
    position: relative;
    font-size: 10px;
    vertical-align: bottom;
    padding: 0 5px 8px 5px;
    color: darkblue;
}
/* SB-SHOP-00004 stamp image */
