/* stamp image */
.papa_stamp_icon{
    top: -240px;
    width: 65px;
    border-radius:5px;
    position: relative;
    margin-left: 10px;
    margin-bottom: 15px;
    float:left;
}

.stamp-img{
    width: 36px;
    margin-left: 10px;
    border-radius: 20px;
}

.stamp-date{
    position: relative;
    font-size: 25px;
    vertical-align: bottom;
    padding: 3px 5px 3px 5px;
    color: darkblue;
}

/* stamp action */
.stamp-action{
    z-index: 100;
    width:300px;
    top:120px;
    right:300px;
    border-radius:5px;
    position:absolute;
    background-color:#ef8080;
    animation-name: pulse;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode:forwards;
}




















/* SB-SHOP-00001 stamp image */
.img-repeat-SB-SHOP-00001 {
    margin-left: 20px;
}

.stamp-icon-SB-SHOP-00001 {
    top: -482px;
    width: 121px;
    border-radius: 5px;
    position: relative;
    margin-left: 17px;
    margin-bottom: 70px;
    float: left;
}

.stamp-popup-icon-SB-SHOP-00001 {
    top: -493px;
    width: 112px;
    border-radius: 5px;
    position: relative;
    margin-left: 25px;
    margin-bottom: 28px;
    float: left;
}

.stamp-date-SB-SHOP-00001 {
    display: inline-block;
    width: 130px;
    position: relative;
    font-size: 25px;
    vertical-align: bottom;
    padding: 3px 5px 3px 5px;
    color: darkblue;
}
/* SB-SHOP-00001 stamp image */


/* SB-SHOP-00002 stamp image */
.img-repeat-SB-SHOP-00002 {
    margin-left: 298px;
}

.stamp-icon-SB-SHOP-00002 {
    top: -458px;
    width: 107px;
    border-radius: 5px;
    position: relative;
    margin-left: 24px;
    margin-bottom: 67px;
    float: left;
}

.stamp-popup-icon-SB-SHOP-00002 {
    top: -458px;
    width: 102px;
    border-radius: 5px;
    position: relative;
    margin-left: 26px;
    margin-bottom: 67px;
    float: left;
}

.stamp-date-SB-SHOP-00002 {
    display: inline-block;
    width: 130px;
    position: relative;
    font-size: 25px;
    vertical-align: bottom;
    padding: 3px 5px 3px 5px;
    color: darkmagenta;
}
/* SB-SHOP-00002 stamp image */


/* SB-SHOP-00003 stamp image */
.img-repeat-SB-SHOP-00003 {
    margin-left: 111px;
}

.stamp-icon-SB-SHOP-00003 {
    top: -180px;
    width: 46px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 7px;
    float: left;
}

.stamp-popup-icon-SB-SHOP-00003 {
    top: -180px;
    width: 44px;
    border-radius: 5px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 7px;
    float: left;
}

.stamp-date-SB-SHOP-00003 {
    display: inline-block;
    width: 60px;
    position: relative;
    font-size: 10px;
    vertical-align: bottom;
    padding: 3px 5px 3px 5px;
    color: darkmagenta;
}
/* SB-SHOP-00003 stamp image */