<ul class="my-card-list">
    <li class="my-card-coupon">
        <div class="my-container">
            <div class="my-card">
                <figure class="front">
                    <img class="base-img" src="/images/shop-coupon/cafe-jass-coupon.png" alt="back">
                    <div class="caption">
                        <h3>카페 자스<span>(우면점)</span></h3>
                        <h5 calss="coupon-use">사용하기</h5>
                        <h4>아메리카노<span>4000원</span></h4>
                        <h6>✿ 유효 기간 : 영업점별 상이합니다.</h6>
                    </div>
                </figure>
            </div>
        </div>
    </li>

</ul>