<!DOCTYPE html>
<html id="wrapper">
<head>
    <title>papa-stamp</title>
    <link rel='stylesheet' href='/css/layout-style.css' type='text/css'/>
    <link rel='stylesheet' href='/css/card-style.css' type='text/css'/>
    <link rel='stylesheet' href='/css/stamp-style.css' type='text/css'/>
    <link rel='stylesheet' href='/css/popup.css' type='text/css'/>
    <link rel='stylesheet' href='/css/jquery.toast.min.css' type='text/css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

    <script src='/js/jquery-2.2.3.min.js' type='text/javascript'></script>
    <script src='/js/popup.js' type='text/javascript'></script>


    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
</head>

<form name="footerAction" method="get" style="display:none">
    <input type="hidden" name="userId" id="userId" value="<%= userId %>"/>
    <input type="hidden" name="current_lat" id="current_lat" value=""/>
    <input type="hidden" name="current_lng" id="current_lng" value=""/>
</form>

<form name="papa_config" id="papa_config" style="display:none">
    <input type="hidden" name="view" id="view" value="<%= view %>"/>
    <input type="hidden" name="url" id="url" value="<%= url %>"/>
</form>

<body>
<div class="frame">

    <div class="header">
        <div class="top-status-bar">
            <div class="header-title" id="map-icon"><i class="fa fa-map-marker" style="font-size: 70px;color: whitesmoke"></i></div>
            <img class="top-icon" src="/images/papastamp_icon.png"></img>
            <div class="top-title">파파스탬프</div>
            <div class="top-description">스탬프<br>관리 시스템</div>
        </div>
    </div>

    <div class="content">
        <div class="all" id="common-template">
            <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
            <div id="mapPop" class="layerMapPopup">
                <div class="custom_zoomcontrol radius_border">
                    <span onclick="zoomIn()"><img src="/images/shop-map/ico_plus.png" alt="확대"></span>
                    <span onclick="zoomOut()"><img src="/images/shop-map/ico_minus.png" alt="축소"></span>
                </div>

                <!-- map -->
                <div id="map" class="map_wrap"></div>
                <!-- //map -->

                <div class="shop-container">
                    <div class="contact-row agileits-w3layouts">
                        <div class="col-xs-6 col-sm-6 contact-w3lsright" id="map_list_wrap">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

            <% if(view == 'shop') { %>
                <div class="hero-shop"></div>
                <% include ../papa-shop/shop.ejs %>
            <% } else if(view == 'stamp') { %>
                <div class="hero-stamp"></div>
                <% include ../papa-stamp/stamp.ejs %>
            <% } else if(view == 'coupon') { %>
                <div class="hero-coupon"></div>
                <% include ../papa-coupon/coupon.ejs %>
            <% } else if(view == 'event') { %>
                <div class="hero-event"></div>
                <% include ../papa-event/event.ejs %>
            <% } else { %>
                <div class="hero-setting"></div>
                <% include ../papa-setting/setting.ejs %>
            <% } %>
        </div>
    </div>

    <div class="footer-menu">
        <nav class="bottom">
            <menu>
                <li>
                    <a class="c1 menu-toggle" href="#" >
                        <span>🏠<div class="menu-text">홈</div></span>
                    </a>
                </li>
                <li>
                    <a class="c2 menu-toggle" href="#" >
                        <span>♟<div class="menu-text">마이스탬프</div></span>
                    </a>
                </li>
                <li>
                    <a class="c3 menu-toggle" href="#" >
                        <span>📙<div class="menu-text">마이쿠폰</div></span>
                    </a>
                </li>
                <li>
                    <a class="c4 menu-toggle" href="#" >
                        <span>☺<div class="menu-text">이벤트</div></span>
                    </a>
                </li>
                <li>
                    <a class="c5 menu-toggle" href="#" >
                        <span>✴<div class="menu-text">설정</div></span>
                    </a>
                </li>
            </menu>
        </nav>
    </div>


</div>
</body>
</html>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=1a30d2b7d0dec9ecdbd9665afa6ea7b1&libraries=clusterer,services"></script>

<script type="text/javascript">
    $(function () {
        daum.maps.load(function() {
            var currentLat = '';//37.4979887529;
            var currentLng = '';//127.0296421998;

            var headers = {};
            headers["user_id"] = $("#userId").val();

            $.ajax({
                url: $("#url").val() + '/v1/user/userLocation',
                type: 'GET',
                headers : headers,
                dataType: 'json',
                success: function(data) {
                    var userLocationData = data.userLocationData;
                    currentLat = userLocationData.CURRENT_LAT;
                    currentLng = userLocationData.CURRENT_LNG;

                    $("#current_lat").val(currentLat);
                    $("#current_lng").val(currentLng);
                },
                error: function(request, status, error) {
                    console.error("userLocationData : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });

        $(document).on('click', '.card', function(){
            $(this).toggleClass('flipped');
        });

        var initView = $("#view").val();
        var initCheck;
        if(initView == 'shop') {
            initCheck = 0;
        } else if(initView == 'stamp') {
            initCheck = 1;
        } else if(initView == 'coupon') {
            initCheck = 2;
        } else if(initView == 'event') {
            initCheck = 3;
        } else {
            initCheck = 4;
        }

        var footermenu = $('.footer-menu li');

        footermenu.eq(initCheck).find('a').addClass('show');

        footermenu.click(function(){
            footermenu.find('a').removeClass('show');
            var index = footermenu.index(this);

            if(index == 0) {
                document.footerAction.action = '/v1/shop/main';
            }else if(index == 1) {
                document.footerAction.action = '/v1/stamp/main';
            }else if(index == 2) {
                document.footerAction.action = '/v1/coupon/main';
            }else if(index == 3) {
                document.footerAction.action = '/v1/event/main';
            }else {
                document.footerAction.action = '/v1/setting/main';
            }
            document.footerAction.submit();
        });

        var mapIcon = document.getElementById('map-icon');

        if(initView != 'setting') {
            if($('.my-card-list li').hasClass('blank-card')) {
                mapIcon.innerHTML = '<i class="fa fa-map-marker" style="font-size: 70px;color: black"></i>';
            }else {
                $("#map-icon").click(
                    function() {
                        if($("#mapPop").css("display") == "none") {
                            $("#card-list").css("display", "none");
                            openMapLayer("mapPop");
                            mapPapaShop();
                            mapIcon.innerHTML = '<i class="fa fa-map-marker" style="font-size: 70px;color: red"></i>';
                        }else {
                            $("#select-card").remove();
                            $("#card-list").css("display", "block");
                            closeMapLayer("mapPop");
                            mapIcon.innerHTML = '<i class="fa fa-map-marker" style="font-size: 70px;color: whitesmoke"></i>';
                        }
                    }
                );
            }
        }else {
            mapIcon.innerHTML = '<i class="fa fa-map-marker" style="font-size: 70px;color: black"></i>';
        }
    });
</script>

<script src='/js/jquery.toast.min.js' type='text/javascript'></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/css/jquery.toast.min.css" type="text/css"/>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
